## Basics of Python

1. Write a python program to find the freq of each word in a given paragraph

In [4]:
from collections import Counter

In [13]:
A = 'Hello my name is gaurav. I am doing an assignment on Python Programming. Hello Hello Hello'

In [14]:
B = A.split()

In [15]:
print(B)

['Hello', 'my', 'name', 'is', 'gaurav.', 'I', 'am', 'doing', 'an', 'assignment', 'on', 'Python', 'Programming.', 'Hello', 'Hello', 'Hello']

In [16]:
Counter(B)

Counter({'Hello': 4,
         'my': 1,
         'name': 1,
         'is': 1,
         'gaurav.': 1,
         'I': 1,
         'am': 1,
         'doing': 1,
         'an': 1,
         'assignment': 1,
         'on': 1,
         'Python': 1,
         'Programming.': 1})

## Create a list of tuples containing students names and marks. sort the list in descending orders of marks using lamda

In [18]:
a = (2,3,4)

In [19]:
print(a)

(2, 3, 4)

In [78]:
a = [("Gaurav" , 30 ),("Manoj", 24),("Yash", 34)]
a = sorted(a, key = lambda x:x[1])
print(a)

[('Manoj', 24), ('Gaurav', 30), ('Yash', 34)]

In [84]:
import numpy as np
import pandas as pd

## Write a program to flatten a nested list using recursion

## [1,[2,3,[4,5],6],7] = [1,2,3,4,5,6,7]

In [87]:
import numpy as np
list1 = [1,[2,3,[4,5],6],7]

In [99]:
string = str(list1)

In [100]:
string

'[1, [2, 3, [4, 5], 6], 7]'

In [102]:
b = string.split()
b

['[1,', '[2,', '3,', '[4,', '5],', '6],', '7]']

In [104]:
def flatten(nested_list):
    result = []
    for item in nested_list:
        if isinstance(item, list):
            result.extend(flatten(item))
        else:
            result.append(item)
    return result

[1,
[2,
3,
[4,
5],
6],
7]